/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline: 10px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  margin-block-end: 40px;
  padding-block: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 10px;
  right: 0;
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 0;
  border-inline-end: none;
  border-block-start: none;
}

.header__decorative {
  position: absolute;
  top: 12px;
  right: 28px;
  display: var(--header-decorative-display);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.header__decorative::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 43px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background: none;
  block-size: 26px;
  inline-size: 70px;
  appearance: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  color: var(--main-title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--main-title-shadow);
}

.header__text {
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
  background-color: var(--bg-color-text);
  max-inline-size: 355px;
}

.content-section {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
}

.content-section__main-title {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.content-section__main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.content-section__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-inline-size: 315px;
}

.content-section__title {
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--bg-color-text);
}

.content-section__text {
  color: var(--color-main-text);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.content-section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.content-section__link:hover {
  border-block-end: 1px solid var(--color-main-text);
}

.content-section__link:focus {
  outline: none;
}

.content-section__link:focus-visible {
  outline: 1px solid var(--color-main-text);
}

.content-section-column {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
}

.content-section__container-second-title {
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  background: var(--bg-color-text);
}

.image-content-section {
  margin-block-end: 40px;
}

.image-container {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.image-container img {
  width: 100%;
  max-height: auto;
}

.footer {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--main-title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--main-title-shadow);
}

@media (width > 375px) {
  .header__text {
    justify-self: end;
  }
}

@media (width >= 768px) {
  .page {
    padding-inline: 20px;
  }

  .header {
    margin-block-end: 60px;
    padding-block: 20px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .header__decorative {
    top: 23px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-inline-size: 364px;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
    margin-block-end: 80px;
  }

  .content-section__main-title {
    max-inline-size: 236px;
  }

  .content-section-column {
    margin-block-end: 80px;
  }

  .image-content-section {
    margin-block-end: 60px;
  }

  .image-container {
    gap: 20px;
    margin-block-start: 20px;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  .img-sunset {
    grid-column: span 2;
  }

  .img-ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .img-tape {
    grid-row: 2/4;
  }

  .img-books {
    grid-column: 2;
    grid-row: 2;
  }

  .img-street {
    grid-column: 2/4;
    grid-row: 3;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (769px < width < 1024px) {
  .content-section__container {
    inline-size: auto;
  }
}

@media (width = 1024px) {
  .content-section__main-title {
    max-inline-size: 315px;
  }

  .content-section {
    grid-template-columns: 315px 1fr;
  }
}

@media (width > 1024px) {
  .content-section__main-title {
    inline-size: auto;
  }

  .content-section__container {
    inline-size: auto;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__text {
    max-inline-size: 491px;
  }

  .content-section-column__main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-block-size: 768px;
  }
}
