/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --bg-color-text: #ff0070;
  --accent-color: #ff0070;
  --link-shadow-color: #ff0070;
  --main-title-color: #db00ff;
  --main-title-shadow: #ff0070;
  --title-color: #000028;
  --color-main-text: #f1b2ce;
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --header-decorative-display: block;
  --main-font: 'IBM Plex Mono', sans-serif;
}